<header class="mdl-layout__header">
  <div class="mdl-layout__header-row">
    <span class="mdl-layout-title">{{ site.title }}</span>
    <div class="mdl-layout-spacer"></div>
    <div class="android-search-box mdl-textfield mdl-js-textfield mdl-textfield--expandable mdl-textfield--floating-label mdl-textfield--align-right mdl-textfield--full-width">
      <label class="mdl-button mdl-js-button mdl-button--icon" for="search-field">
        <i class="material-icons">search</i>
      </label>
      <div class="mdl-textfield__expandable-holder">
        <input class="mdl-textfield__input" type="text" id="search-field" />
      </div>
    </div>
    <button class="mdl-button mdl-js-button mdl-button--icon" id="menu-lower-left">
      <i class="material-icons">more_vert</i>
    </button>
    <ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect" for="menu-lower-left">
      {% for option in site.sister_sites %}
      <li><a href="{{ option[1].link }}" class="mdl-menu__item">{{ option[1].name }}</a></li>
      {% endfor %}
    </ul>
  </div>
</header>
<!-- Note drawer comes separately, after header elem and styles -->
<div class="mdl-layout__drawer">
  <span class="mdl-layout-title"><a class="mdl-navigation__link" href="{{ site.url }}">Home</a></span>
  <nav class="mdl-navigation">
    {% for page in site.pages %}
    {% if page.title %}
    <a class="mdl-navigation__link" href="{{ page.url | prepend: site.url }}">{{ page.title }}</a>
    {% endif %}
    {% endfor %}
  </nav>
</div>
